<div class="banner" id="banner">
    <img id="img1" src="assets/img123.png">
    <p>Tecnologias WEB </p>
    <img id="img2" src="assets/img12.png">
  </div>
  
  <nav class="menu">
    <ul>
        <li><a class="p1" routerLink="/card" target="contenido">Los frameworks mas usados del 2021</a></li>
        <li><a class="p1" href="/" target="contenido">Acerca de la materia</a></li>
      
      
    </ul>
  </nav>
  <br>
  <div class="card">
    <h1>Tecnologias web</h1>
    <img   src="https://static9.depositphotos.com/1559686/1228/i/950/depositphotos_12286955-stock-photo-technology-in-the-hands.jpg">
   <p>La materia de tecnologias web esta orientada al manejo y al desarrollo de la web y tambien a los diferentes frameworks de desarrollo
       de los cuales se muestra en la otra pestaña
   </p>
</div>
<br>
<div class="card1">
    <h1>Framework</h1>
    <img   src="https://static.wixstatic.com/media/96edd2_7724b185c486497eac2694520001fbc7~mv2.png/v1/fill/w_512,h_301,al_c/96edd2_7724b185c486497eac2694520001fbc7~mv2.png">
   <p>En pocas palabras, un Framework es una estructura previa que se puede aprovechar para desarrollar un proyecto.

    El Framework es una especie de plantilla, un esquema conceptual, que simplifica la elaboración de una tarea, ya que solo es necesario complementarlo de acuerdo a lo que se quiere realizar.
    
    A pesar de que su uso más común es en la informática, este concepto es también utilizado en el Marketing.
    
    En ambas áreas facilita mucho el trabajo, ya sea del desarrollo de un software o de una estrategia de mercadotecnia.</p>
</div>